version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - ../.env
    volumes:
      - ../src:/app/src
    working_dir: /app
    depends_on:
      - redis
  
  worker:
    build:
      context: ..
      dockerfile: Dockerfile
    command: celery -A common.mq.celery worker --loglevel=info
    volumes:
      - ../src:/app/src
    working_dir: /app
    env_file:
      - ../.env
    depends_on:
      - redis


  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"